<!DOCTYPE html>
<html>
    <head>
        <title>Sam's Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Sam's Blog</a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                        <li><a href="/">About</a></li>
	                        <li><a href="/posts">All Posts</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>

		<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <p class="lead">Blog Posts</p>
		        </div>
		        <div class="col-md-9">
		            <div class="thumbnail">
		                <img class="img-responsive" src="<%= blogpost.image %>">
		                <div class="caption-full">
		                    <h6 class="pull-right"><%= blogpost.datestring %></h6>
		                    <h4><a href="/posts/<%= blogpost._id %>"><%=blogpost.title%></a></h4>
		                    <p><%- blogpost.body %></p>
		                    <p>
		                        <em><%= blogpost.note %></em>
		                    </p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>


	</body>
</html>